.login,.message{
	margin: auto;
	width: 390px;
	margin-top: 30px;
	padding: 30px;
	background-color: white;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 3px 3px 5px 5px;
}
#todo{
	margin: auto;
	margin-top: 30px;
	padding: 30px;
	background-color: white;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 3px 3px 5px 5px;
}
.input100:focus{
	outline: none;
}
.input100{
    font-family: Ubuntu-Regular;
    font-size: 20px;
    color: #555;
    line-height: 1.2;
    display: block;
    width: 100%;
    height: 50px;
    background: 0 0;
    padding: 0 10px 0 80px;
    -webkit-transition: all .4s;
    -o-transition: all .4s;
    -moz-transition: all .4s;
    transition: all .4s;
    width: 100%;
    position: relative;
    padding: 29px 0;
    padding-left: 40px;
    border: none;
    border-bottom: 1px solid #e6e6e6;
}
.login100-form-btn {
	border: none;
    font-family: Ubuntu-Bold;
    font-size: 18px;
    color: #fff;
    line-height: 1.2;
    text-transform: uppercase;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    min-width: 160px;
    height: 42px;
    border-radius: 21px;
    background: #d41872;
    background: -webkit-linear-gradient(left,#a445b2,#d41872,#fa4299);
    background: -o-linear-gradient(left,#a445b2,#d41872,#fa4299);
    background: -moz-linear-gradient(left,#a445b2,#d41872,#fa4299);
    background: linear-gradient(left,#a445b2,#d41872,#fa4299);
    position: relative;
    z-index: 1;
    -webkit-transition: all .4s;
    -o-transition: all .4s;
    -moz-transition: all .4s;
    transition: all .4s;
}
.message .login100-form-btn{float:  inherit;}
.login100-form-btn:hover{
	background-color: #555;
	color: white;
}
.submit-btn{
	    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 40px;
}
.focus-input100 {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
 }
 .focus-input100::before {
    content: "";
    display: block;
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 0;
    height: 1px;
    -webkit-transition: all .4s;
    -o-transition: all .4s;
    -moz-transition: all .4s;
    transition: all .4s;
    background: #d41872;
    background: -webkit-linear-gradient(left,#a445b2,#d41872,#fa4299);
    background: -o-linear-gradient(left,#a445b2,#d41872,#fa4299);
    background: -moz-linear-gradient(left,#a445b2,#d41872,#fa4299);
    background: linear-gradient(left,#a445b2,#d41872,#fa4299);
}
.focus-input100::after {
    font-family: Linearicons-Free;
    font-size: 18px;
    color: #999;
    content: attr(data-placeholder);
    display: block;
    width: 100%;
    position: absolute;
    top: 40px;
    left: 35px;
    -webkit-transition: all .4s;
    -o-transition: all .4s;
    -moz-transition: all .4s;
    transition: all .4s;
}
.login form .div{
	position: relative;
}
.login h2{
	font-weight: 600;
	margin-bottom: 40px;
}
