.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  min-height: 90vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  color: black;
  margin-top: 30px;
}

.App-link {
  color: black;
}
nav{
  background-color: #1abc9c;
  min-height: 52px;

}
nav ul{
  list-style: none;
  color: white;
  font-size: 18px;
}
nav ul li{
  display: inline-block;
  margin: 10px 20px;
  position: relative;
}
nav ul li a{
  color: #fefefe;
}
nav ul li a:hover{text-decoration: none;}
nav ul li .sublinks{
  position: absolute;
  top: 30px;
  width: 120px;
  left: 0px;
  padding-left: 0px;
  border: 1px solid;
  background-color: #1abc9c;
  display: none;
}
nav ul li .sublinks li{
  padding-left: 0px;
}
nav ul li:hover .sublinks{
  display: block;
}

form{
  font-size: 18px;
}
form #note_message{
  font-size: 18px; 
  border: none;
  box-shadow: none;
  border-bottom: 2px dotted #ff0000;
  margin-bottom: 10px;
  display: inline-block;
}
form .btn{
  display: inline-block;
  font-size: 18px; 
  background-color: #1abc9c;
  border-color: white;
  border-radius: 5px;
}
.fa-times{
/*  color: white;
  background-color: red;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  text-align: center;*/
}
button{
  border : none;
  float: right;
}

.data, .data-done{
  text-align: left;
  padding: 10px;
  border-bottom: 1px solid #ededed;
  font-family: 'Roboto','Segoe UI','Helvetica Neue',Helvetica,sans-serif;
  color: #505050;
  font-size: 18px;
}
.data:hover, .data-done:hover{
  border-bottom: 1px solid;
}
.data .fa-check{
  border-radius: 50%;
  border: 1px solid #e6b41d;
  padding: 2px;
  color: #e6b41d;
  font-weight: 300;
}
.data-done .fa-check{
  border-radius: 50%;
  border: 1px solid #27ae60;
  padding: 2px;
  color: #27ae60;
  font-weight: 300;
}
.data-done {
  text-decoration: line-through;

}
.fa-check:hover{
  cursor: pointer;
}
.content{
  background-image: url(./bg-01.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 93vh;
  background-color: rgba(0,0,0,0.5);
  position: relative;
  display: inline-block;
  width: 100%;
  z-index: 1;
}
.content::after {
    position: absolute;
    top: 0%;
    left: 0%;
    background: rgba(0,0,0,0.5);
    z-index: -1;
    width: 100%;
    height: 100%;
    content: "";
}